.env
venv/
esp32/secrets.yaml
arduino_mkr/stromzaehler/config.h
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/
arduino_mkr/.pio/
arduino_mkr/*.out
arduino_mkr/.vscode/
arduino_mkr/.vscode/.browse.c_cpp.db*
arduino_mkr/.vscode/c_cpp_properties.json
arduino_mkr/.vscode/launch.json
arduino_mkr/.vscode/ipch
resume.txt
